<ion-card class="post ion-no-border">
  <ion-card-header class="ion-no-padding">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="'https://via.placeholder.com/150'" />
      </ion-avatar>
      <ion-label>
        <p class="post-name">profilename</p>
        <p>address</p>
      </ion-label>
      <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
    </ion-item>
  </ion-card-header>
  <ion-img class="post-img" [src]="'https://via.placeholder.com/150'"></ion-img>
  <ion-card-content class="ion-no-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="2">
          <ion-button fill="clear" color="dark">
            <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" color="dark">
            <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" color="dark">
            <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col> </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" color="dark">
            <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
