<ion-card class="post ion-no-border">
  <ion-card-header class="ion-no-padding">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="'https://via.placeholder.com/150'" />
      </ion-avatar>
      <ion-label>
        <p class="post-name">profilename</p>
        <p>address</p>
      </ion-label>
      <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
    </ion-item>
  </ion-card-header>
  <ion-img class="post-img" [src]="'https://via.placeholder.com/150'"></ion-img>
  <ion-card-content class="ion-no-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="1">
          <ion-button fill="clear" color="dark">
            <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button fill="clear" color="dark">
            <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button fill="clear" color="dark">
            <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col> </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" color="dark">
            <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-horizontal">
          <p class="likes">78,037 likes</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-horizontal">
          <p class="caption">
            <span class="post-name">profilename</span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
            suscipit iste esse dolores animi doloribus iure sapiente fugit
            beatae corrupti, ea accusamus nulla culpa veniam facere autem id
            voluptas architecto.
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-horizontal">
          <p class="comment">
            <span class="post-name">profilename</span>
            Lorem ipsum dolor
          </p>
          <p class="comment">
            <span class="post-name">profilename</span>
            Lorem ipsum dolor
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding">
          <p class="time">14 HOURS AGO</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
