div.avatar-wrapper {
  width: 75px;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
  line-height: 30px;

  ion-img::part(image) {
    border-radius: 70px;
    border: 2px solid red;
    padding: 2px;
  }

  p.username {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
  }
}
