<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="start" name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <app-logo [src]="'assets/svg/ig-logo.svg'"></app-logo>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-vertical ion-no-padding">
    <app-stories [stories]="(users$ | async)?.results"></app-stories>

    <app-posts [posts]="(users$ | async)?.results"></app-posts>
  </ion-grid>
</ion-content>
